.container {
  position: absolute;
  bottom: 10%;
  height: 60%;
  width: 24%;
  white-space: nowrap;

  &:not(.right) {
    left: 15%;
  }

  h2, h4 {
    margin: 0;
  }
}

.container-small {
  width: 20%;

  .form-container {
    margin-top: 0px;
  }
}

.right {
  right: 15%;
}

.points-wrapper-reversed {
  flex-direction: row-reverse;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 40px;
}

.points-for-team-text-invisible {
  visibility: hidden;
}
